<!--Nav Bar, from Bootstrap-->
<div id="container">
  <nav class="navbar navbar-expand-lg navbar-light fixed">
    <h3 class="navbar-brand" style="color: gray">The Newsroom - Favorites</h3>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a href="/" class="btn btn-link pull-right" style="color: gray" id="home">Home</a>
        </li>
        <li class="nav-item">
          <button class="btn btn-link pull-right" style="color: gray" id="saved">Saved Favorites</button>
        </li>
      </ul>
    </div>
  </nav>
</div>

{{!-- cover image --}}
<img src="assets/img/news_image1.jpg" alt="background_image" style="width: 100%; position: relative">
<div class="photo_title" style="left: 0;
    position:absolute;
    text-align:center;
    top: 28rem;
    width: 100%;
    font-size: 75px;
    color: white">Favorites
</div>
<br>
<br>
<br>
{{#if news}}
{{#each news}}
{{#if this.saved}}
{{!-- story card from Bootstrap --}}
<div class="card-deck">
  <div class="card">
    <div class="form horiz">
      <img class="card-img-top" src="assets/img/news_image2.jpg" style="width: 300px; height: 180px" alt="Card image cap">
      <button data-id="{{_id}}" class="btn ml-4" class="btn btn-default" data-target="#commentModal"
        data-toggle="modal" id="openComment" style="background-color: cyan; color: white">Comment on this Story</button>
      <button data-id="{{_id}}" class="btn deleteBtn" class="btn btn-default" style="background-color: magenta; color: white">Remove Story from
        Favorites</button>
    </div>
    <div class="card-body">
      <h5 class="card-title">{{title}}</h5>
      <p class="card-text">{{summary}}</p>
      <a class="card-text-link" href="{{link}}">Click Here for Full Story</a>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last Updated: {{updated_At}}</small>
    </div>
  </div>
</div>

{{!-- Comment Modal --}}
<br>
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="modal fade" data-keyboard="false" data-backdrop="static" id="commentModal" tabindex="-1" role="dialog">
        <div id="newsModal{{this._id}}" class="modal-dialog" modal-lg role="document">
          <div class="modal-content">
            <div class="modal-body">
              <div class="col-12">
                <h3>Current Comments: </h3>
                <form class="signup">
                  {{#if this.comments}}
                    {{#each this.comments}}
                    <div class="form-group">
                      <div type="text" class="form-control comments">{{this.body}}</div>
                      <button data-comments-id="{{this._id}}" data-news-id="{{this.news}}" type="button" class="btn btn-danger deleteComment">Delete</button>
                    </div>
                    {{/each}}
                  {{else}}
                    <div class="form-group">
                      <p>No comments have been saved for this story.</p>
                    </div>
                  {{/if}}
                  <br>
                  <div class="form-group">
                    <label for="exampleInputPassword1">Comment:</label>
                    <textarea id="newComment{{this._id}}" type="text" class="form-control" placeholder="New Comment"></textarea>
                  </div>
                  <button data-id="{{_id}}" type="button" class="btn btn-outline-info form-control commentBtn">Save
                    Comment</button>
                </form>
                <br>
              </div>
            </div>

            <div class="modal-footer">
              <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{{/if}}
{{/each}}
{{else}}
<h3 style="text-align: center">You have no saved news stories.</h3>
<br>
<br>
<br>
{{/if}}

{{!-- Script for Modal --}}
<script>
  $('#myModal').on('shown.bs.modal', function () {
    $('#myInput').trigger('focus')
  })
</script>