<!--Nav Bar, from Bootstrap-->
<div id="container">
  <nav class="navbar navbar-expand-lg navbar-light fixed">
    <h3 class="navbar-brand" style="color: gray">The Newsroom - Favorites</h3>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a href="/" class="btn btn-link pull-right" style="color: gray" id="home">Home</a>
        </li>
        <li class="nav-item">
          <button class="btn btn-link pull-right" style="color: gray" id="saved">Saved Favorites</button>
        </li>
      </ul>
    </div>
  </nav>
</div>

{{!-- cover image --}}
<img src="assets/img/news_image1.jpg" alt="background_image" style="width: 100%; position: relative">
<div class="photo_title" style="left: 0;
    position:absolute;
    text-align:center;
    top: 28rem;
    width: 100%;
    font-size: 75px;
    color: white">Favorites
</div>
<br>
<br>
<br>
{{#if news}}
  {{#each news}}
    {{#if this.saved}}
    {{!-- story card from Bootstrap --}}
    <div class="card-deck">
      <div class="card">
        <div class="form horiz">
          <img class="card-img-top" src="assets/img/news_image2.jpg" style="width: 300px; height: 180px" alt="Card image cap">
          <button data-id="{{this._id}}" class="btn ml-4" class="btn btn-default" data-target="#commentModal{{this._id}}" data-toggle="modal"
            id="openComment" style="background-color: cyan; color: white">Comment on this Story</button>
          <button data-id="{{this._id}}" class="btn deleteBtn" class="btn btn-default" style="background-color: magenta; color: white">Remove
            Story from
            Favorites</button>
        </div>
        <div class="card-body">
          <h5 class="card-title">{{this.title}}</h5>
          <p class="card-text">{{this.summary}}</p>
          <a class="card-text-link" href="{{this.link}}">Click Here for Full Story</a>
        </div>
        <div class="card-footer">
          <small class="text-muted">Last Updated: {{updated_At}}</small>
        </div>
      </div>
    </div>
    {{/if}}
  {{/each}}
{{else}}
  <h3 style="text-align: center">You have no saved news stories.</h3>
  <br>
  <br>
  <br>
{{/if}}


{{!-- Partial for comments modal --}}
{{#each news}}
  {{> modal-block}}
{{/each}}

{{!-- Button that allows user to scroll to the top of the screen --}}
<button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>

{{!-- Script for Modal --}}
<script>
  $('#myModal').on('shown.bs.modal', function () {
    $('#myInput').trigger('focus')
  })
</script>