<!--Nav Bar, from Bootstrap-->
<div id="container">
  <nav class="navbar navbar-expand-lg navbar-light fixed">
    <h3 class="navbar-brand" style="color: gray">The Newsroom</h3>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <button class="btn btn-link pull-right" style="color: gray">Home</button>
        </li>
        <li class="nav-item">
          <button class="btn btn-link pull-right favorites" style="color: gray">Saved Favorites</button>
        </li>
        <li class="nav-item">
          <button class="btn btn-link pull-right articles" style="color: gray">Click Here for Articles</button>
        </li>
      </ul>
    </div>
  </nav>
</div>

{{!-- cover image --}}
<img src="assets/img/news_image1.jpg" alt="background_image" style="width: 100%">
<div class="photo_title" 
style="left: 0;
    position:absolute;
    text-align:center;
    top: 28rem;
    width: 100%;
    font-size: 75px;
    color: white">The Newsroom
</div>
<br>
<br>
{{#if news}}
  {{#each news}} 
    {{!-- story card from Bootstrap --}}
    <div class="card-deck">
      <div class="card">
        <div class="form horiz">
          <img class="card-img-top" src="assets/img/news_image2.jpg" style="width: 300px; height: 180px" alt="Card image cap">
            <button data-id="{{_id}}" class="btn btn-info my-2 my-sm-0" class="btn btn-default" style="margin-left: 20%" id="commentBtn">Save as Favorite</button>
        </div>
        <div class="card-body">
          <h5 class="card-title">{{title}}</h5>
          <p class="card-text">{{summary}}</p>
          <a class="card-text-link" href="{{link}}">Click Here for Full Story</a>
        </div>
        <div class="card-footer">
          <small class="text-muted">Last Updated: {{updated_At}}</small>
        </div>
      </div>
    </div> 
  {{/each}}
{{else}}
  <h3 style="text-align: center">Please see "Click Here for Articles" to view the latest news.</h3>
{{/if}}

{{!-- story card from Bootstrap --}}
<div class="card-deck">
  <div class="card">
    <div class="form horiz">
      <img class="card-img-top" src="assets/img/news_image2.jpg" style="width: 300px; height: 180px" alt="Card image cap">
        <button class="btn btn-info my-2 my-sm-0" class="btn btn-default" style="margin-left: 20%" id="commentBtn">Save as Favorite</button>
    </div>
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div>
</div>
